/*reglas selectores declaraciones propiedades y valores de css*/
/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127;
celeste =  #026fff;
*/

*{
padding: 0;
margin: 0;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?juqkpc');
  src:  url('../fonts/icomoon.eot?juqkpc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?juqkpc') format('truetype'),
    url('../fonts/icomoon.woff?juqkpc') format('woff'),
    url('../fonts/icomoon.svg?juqkpc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts1/icomoon.eot?5ohiol');
  src:  url('../fonts1/icomoon.eot?5ohiol#iefix') format('embedded-opentype'),
    url('../fonts1/icomoon.ttf?5ohiol') format('truetype'),
    url('../fonts1/icomoon.woff?5ohiol') format('woff'),
    url('../fonts1/icomoon.svg?5ohiol#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="social-"], [class*=" social-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding: .2em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.social-tumblr:before {
  content: "\e902";
}
.social-github:before {
  content: "\e903";
}
.social-facebook:before {
  content: "\e904";
}
.social-instagram:before {
  content: "\e905";
}
body
{
background-color: #fff;

}
.flexbox
{
display:flex;
flex-direction:column;
}
.box
{
  width: 20px;
  height: 20px;
  border:1px;
  border: 1px solid red;
  flex-shrink: 0;
}
header{
  background: orange;
display: flex;
justify-content: space-between;

list-style: none;
height: 90px;
  align-items: center;
}

.menu{
  height: inherit;

}
.header ol
{margin : 0px;
list-style: none;
display: flex;
  height: inherit;

}
.header ol li
{
  height: inherit;
}
.header a
{
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0px 10px;
  font-family: #212121;
}




figure{
  margin:0px;
  padding: 0px;
  }

/*esto es un id*/
#principall
{
  color:violet;
  border-style: double;
  text-decoration: underline;
}

body
{
  background: #1d252c;
  font-family: 'Source sans pro', sans-serif;
  margin :0px;
  b
}
h1,h2,h3,h4,h5,h6{
font-family: 'Fjalla One', sans-serif;
}
h1
{
  font-size: 45px;
line-height:1.5em;
letter-spacing: -.2px;
color: #fff;
margin:  0px 0px 0px 0px;
    padding-left: 35px

}
h1 strong{
  color: #026fff;
  margin:0px;

}
h2{
   padding: 20px;
 color:#026fff;
 text-transform: uppercase;
 font-family: 'Source sans pro';
 font-weight: bold;
 font-size: 24px;
 margin-bottom: 20px;

 }
.project-details{
  width: 500px;

}
.project-imageContainer{

  width: 50%;
}
.hero{
  height: 300px;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-image{
  object-fit:cover;
}

.header{
  background-color: #1d252c;
}
.header, a{
  color : #fff;
  text-decoration: none;
  align-items: center;
  height: 70px;
}
.header ol li {
  text-decoration: underline;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.portfolio
{
  background-color: #fafafa;
  padding:20px;
}
.project{
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;

  padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
box-shadow: 1px 7px 5px 0px rgba(196,196,196,1);
}
.project-title
{
  font-size: 30px;
  margin-top:0px;
  margin-bottom: 10px;
  padding:20px 0px;

}
.project-course
{
  margin: 10px 0px;
}
.project-date{
  margin: 10px 0px;
}
.project-link{
  margin:10px 0px;
}
.project-description
{
  font-size: 1em;
}
.project strong{
font-family: 'Fjalla One';
}
.top
{
  margin: 0px 0px;
}
.contact{
  background-color: #056fff;
}
footer{
  background-color: #1b2127;
  display: flex;
  color: white;
  align-items: center;
justify-content: space-between;
}
footer img
{
vertical-align: middle;
}
footer a{
  color:white;
}
.exp{
width: 47%;
  margin: 2px;
    overflow: hidden;
      border-radius: 10px;
      flex-shrink: 0;
      background: #f4fbff;

}
.experiencia{
  display: flex;
justify-content: center;
flex-wrap: wrap;
    background-color: #fafafa
}
.exp img{
  width: 480px;
  height: 200px;
  object-fit: cover;


}
.exp-details
{ margin:20px 40px;
  margin-top: -40px;
position: relative;
  background-color: white;
padding: 20px;
text-align: center;
height: 150px;
}
.exp-description
{
  font-size: 1em;
  text-align: center;
  margin:20px;
}
.exp-link{
  border: 1px solid #056fff;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 3px;
  color: #056fff;

}

.contacto{
  background-color: #056fff;
  color: white;
  height: 150px;
  display :flex;
align-items: center;
justify-content: space-between;
}
.button{
  width: 50px;
  height: 30px;
}
.contacto h3
{
    font-family: 'Source sans pro';
    text-transform: uppercase;
    margin-bottom: 10px;
}
.email-text{
  color: #1d252c;
}
.social{
  border: none;
  padding: .2em;
}
.social
{
  background-color: #056fff;
  display: flex;
font-size: 50px;
  height: 50px;
  margin : 0px 10px;
  background-size: 50px 50px;
}

.social-link.twitter{
background-color: #056fff;
background-image: url('../images/twitter.svg');

}
.social-link.facebook{
background-color: #056fff;
background-image: url('../images/facebook.svg');

}
.social-link.github{
background-color: #056fff;
background-image: url('../images/github.svg');

}
.social-link.instagram{
background-color: #056fff;
background-image: url('../images/instagram.svg');

}
.email{
  margin-left: 40px;
display: inline-block;
justify-content: flex-start;
align-content: center;
}
.email-text{
  padding: 10px;
  text-align: center;
  background-image: url('../images/envelope.svg');

  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x :5px;
  border: solid 1px #1d252c;
  border-radius: 5px;
}
.email button{
  background-color: transparent;
  color: white;
  border: solid 2px white;
  border-radius: 5px;
  width: 100px;
  padding: 5px 0px;
  margin-top:10px;

}
.container{
  max-width:1100px;
  flex: 1;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
  margin:0 auto;

}
.div-title{
  width: -webkit-fill-available;
}
.container-footer{
  display: flex;
  align-items: inherit;
  justify-content: space-around;
  height: inherit;
  margin:0 auto;
}
.project-imageContainer img{
  width:100% ;
  height: auto;
}
.html-video {

  max-width: 100%;
}
.youtube-video{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;

}
.flexible-video{
  width: 100%;
  height: 0;
  background: blue;
  padding-top: 56.25%;
  position: relative;
}
.burger-button{
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  color: #fff;
  display: none;
  line-height: 40px;
  text-align: center;
  z-index: 4;
  left: 10px;
  top:10px;
  font-size:20px;
}
.menu{
  position: inherit;
z-index: 3;
background: none;
font-size: .5em;
margin-right: 2em;
}
/* Media querys desktop first*/
@media screen and (max-width: 1023px){
/*todas las pantallas con un ancho inferior a 1024*/
.menu{
  position: inherit;
z-index: 3;
background: none;
font-size: .5em;

}
.hero{
  height: auto;
position: relative;
overflow: hidden;

}
h1{
  font-size: 2em;
  position: relative;
  z-index: 2;
padding: 0 .5em;
}
.hero-img{
  position: relative;
  z-index: 1;
  left: 0;
  right: 0;
  bottom:0;
  top:0;


}
}
@media screen and (max-width: 767px){
  h2{
    font-size: 1.1em;
    padding-left: 0;
  }
.burger-button{
  display:block;
}
  .container-footer
  {
    display: block;
    text-align: center;

  }
.contacto{
  width: auto;
  padding-top: 1em;
  padding-bottom: 4em;
  text-align: center;
  display: block;
  padding-left: 1em;
      padding-right: 1em;
}
.social{
  padding: 1em;
}
.container{

}
.email{
  margin-left: 0px;
      padding: .5em;
}
.email button{
  margin-bottom: 10px;
}
.exp{
  width: auto;
  flex-shrink: initial;

}
.exp img{
  width: 100%;
  object-position: 10% 30%;
}
.exp-details{
margin:-2em .5em .5em 10px;
padding: 1em;
}
  .header{
    display: block;
height: auto;
  }
  .header ol{
    display: initial;
  }
  .header ol li{
    height: 30px;
    text-align: center;

  }
.header ol li a {
  display: inherit;
}
.logo{
  text-align:center;
}
.project{
  display: block;
}
.project-imageContainer{
  width: auto;
  text-align: center;
}
.project-details{
  width: auto;
  font-size: 16px
}
.project-title{
  font-size: 1.5em;
  margin-bottom: : .3em;
  padding-bottom: .1em;
}

.project-url{
  font-size: 1em;
  margin: .4em 0;
}
.project-curse{
  font-size: .7em;
  margin: .4em 0;
}
.project-date{
  font-size: 1em;
  margin: .4em 0;
}
.project-description{
  font-size: 1em;
  margin: .4em 0;
}
.hero{
  height: auto;
position: relative;
}
h1{
  font-size: 2em;
  position: relative;
  z-index: 1;
}
.hero-img{
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  bottom:0;
  top:0;
    width: 100%;
}
.social{
  padding-top: .3em;
  justify-content: center;
align-items: center;
}
.menu{
  position:fixed;
  background: rgba(5,111,255,.9);
  z-index:3;
  top:0;
  left: 0;
  bottom:0;
  width: 100vw;
left: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
transition: .3s;
font-size: 1.5em;
}
.menu.is-active{
  left:0;
}

}
@media screen and (max-width: 480px){
  .project-details{
    width: auto;
    font-size: 14px
  }
  .contacto{
    padding-bottom: 7em;

  }
  h1{
    font-size: 2em;
  }
  .hero{

  }
  .menu{
    position:fixed;
    background: rgba(5,111,255,.9);
    z-index:3;
    top:0;
    left: 0;
    bottom:0;
    width: 100vw;
  left: -100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  transition: .3s;
  }
  .menu.is-active{
    left:0;
  }
}
@media screen and (max-width :320px){
  h1{
    font-size:1.2em;
    background: rgba(0,0,0,.5);
  }
  .hero{
    padding: 1em 1em;
  }
.social{
  justify-content: center;
      padding-top: .5em;
}
.menu{
  position:fixed;
  background: rgba(5,111,255,.9);
  z-index:3;
  top:0;
  left: 0;
  bottom:0;
  width: 100vw;
left: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
transition: .3s;
}
.menu.is-active{
  left:0;
}
}
